@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.ttf") format("truetype");
  font-style: Bold;
  font-weight: 600;
}
